
<div class="page-header">
  <h1>All Controllers <small>variables per controller</small></h1>
</div>

<div id="container" style="margin-bottom:70px;"></div>
<script type='text/javascript'>
$(function () {
    $('#container').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Instance variables per controller vs actions per controller'
        },
        xAxis: [{
          labels: {
            enabled: false
          },
          categories: [<%= DestroyAllViewAssigns::DataPresenter.new.controllers.map { |controller| "'" + controller[:klass] + "'" }.join(', ') %>],
        }],
        yAxis: [{ // Primary yAxis
            labels: {
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: 'Actions per controller',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            }
        }, { // Secondary yAxis
            title: {
                text: 'Variables per controller',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            opposite: true
        }],
        tooltip: {
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            x: 50,
            verticalAlign: 'top',
            y: 50,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        series: [{
            name: 'Variables',
            type: 'column',
            data:[<%= DestroyAllViewAssigns::DataPresenter.new.controllers.map { |controller| controller[:vars].count}.join(', ') %>]
        }, {
            name: 'Actions',
            type: 'spline',
            data:[<%= DestroyAllViewAssigns::DataPresenter.new.controllers.map { |controller| controller[:actions].count }.join(', ') %>]
        }]
    });
});
</script>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">List of <strong>#controllers</strong> sorted by instance variable count from highest to lowest</div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th>Controller</th>
      <th>Instance Variables count</th>
      </td>
      <% DestroyAllViewAssigns::DataPresenter.new.controllers.each do |controller| %>
        <tr>
          <td><%= controller_url(controller) %></td>
          <td><%= controller[:vars].count %></td>
          </td>
        <% end%>
  </table>
</div>
