<div class="page-header">
<h1><%= controller[:klass] %> <small>variables per action</small></h1>
</div>

<div id="container" style="margin-bottom:70px;"></div>
<script type='text/javascript'>
  $(function () {
    // Set up the chart
    var chart = new Highcharts.Chart({
      chart: {
        renderTo: 'container',
        type: 'column',
        margin: 62,
        options3d: {
          enabled: true,
          alpha: 15,
          beta: 15,
          depth: 50,
          viewDistance: 25
        }
      },
      yAxis: {
        title: {
          text: null
        }
      },
      legend: {
        enabled: false
      },
      title: {
        text: null
      },
      subtitle: {
        text: 'Instance variables per action'
      },
      plotOptions: {
        column: {
          depth: 25
        }
      },
      series: [{
        name: 'Variables Per action',
        data: [
          <% controller[:actions].each do |name, data| %>
            ['<%= name %>', <%= data[:vars].count %>],
          <% end %>
        ]
      }]
    });
  });
</script>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">List of <strong>#actions</strong> sorted by instance variable count from highest to lowest</div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th>Action</th>
      <th>Instance Variables count</th>
      </td>
      <% controller[:actions].sort_by{|name, data| -data[:vars].count }.each do |name, data| %>
        <tr>
          <td ><span style="color:gray;"><%= controller[:klass] %></span>#<strong><%= name %><strong></td>
          <td><%= data[:vars].count %></td>
          </td>
        <% end%>
  </table>
</div>
